*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
   font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;

}
button{
    border: none;
    background: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

/* .button{
    padding: 15px 40px;
    background:rgb(255, 255, 255) ;
    font-weight: bold;
    color: whitesmoke;
} */

.navbar{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
     position: fixed;
    left: 0px;
    background-color: white;

}
.navbar div ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar input{
    background-color: lightgray;
    width: 350px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    padding-left: 10px;
    
}
#cont{
    display: flex;
    gap: 15px;
}
.navbar .button{
    padding: 8px 14px;
    height: 30px;
    color: whitesmoke;
    background-color:black;
    border-radius: 35px;
}

.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    margin: auto;
    gap: 100px;
    margin-top: 30px;
}
.main img{
    width:16px;
}
.left-side div{
   padding-bottom:22px ;
}


.right-side{
    width: 55%;
    margin: auto;
    border: 1px solid lightgray;
    margin-left: 70px;
    border-radius: 30px;
    gap: 20px;
    text-align: center;
    padding: 30px;
}

.right-side div{
    padding-bottom: 40px;
    border-radius: 20px;
    padding-left: 15px;
}

.right-side .check{
    border: 1px solid lightgray;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.main > .right-side > div{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 

}

.book{
    width: 300px;
    height: 37px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 210px;

}

#image-container {
    position: relative;
    display: inline-block;
  }
  
  #image {
    width: 100%;
    height: auto;
  }
  
  #Prev,
  #Next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  #Prev:hover,
  #Next:hover {
    opacity: 0.7;
  }
  
  #Prev {
    left: 10px;
  }
  
  #Next {
    right: 10px;
  }
  

  
  
  
  
  

