*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
   font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;

}
button{
    border: none;
    background: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

.navbar .button{
    padding: 8px 14px;
    height: 30px;
    color: whitesmoke;
    background-color:black;
    border-radius: 35px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:30px ;
    margin-bottom: 20px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:30px ;
    margin-bottom: 20px;
}
.navbar div ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar input{
    background-color: lightgray;
    width: 350px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    padding-left: 10px;
    
}
#cont{
    display: flex;
    gap: 15px;
}
.navbar button{
    padding: 8px 14px;
    height: 30px;
    color: whitesmoke;
    background-color:black;
    border-radius: 35px;
}


 .top-section{
    padding-top: 20px;
    width: 55%;
    margin: auto;
    display: flex;
    flex-wrap:wrap ;
    margin-bottom: 50px;
    text-align: center;
}

.top-section h1{
 font-size: 70px;
 text-align: center;
}

.top-section p{
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
   }

.top-section img{
    width: 95%;
    padding-top: 30px;
    padding-left: 100px;
    text-align: center;
}   

#offers{    
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:  10px;
}
#offers img{
    width: 500px;
    border-radius: 30px;
}
#offers div{
  display: grid;
  grid-template-columns: repeat(2,1fr);

}


 #offers .right-side{
    width: 100%;
 }

#offers div div{
    width: 100%;
    display:grid; 
   grid-template-columns: repeat(1,1fr);   
   padding-right: 10px;
}
#offers button{
    background-color: black;
    color: whitesmoke;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    font-size: 14px;
}

.mid-page{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 50px;
    gap: 30px;
    padding-left: 40px;
    text-align: left;
} 
/* .mid-page div{
    width: 40%;

} */

.mid-page h1{
    font-size: 50px;
}

.mid-page img{
    width: 100%;
    border-radius: 30px;
}
.mid-page > .left{
  padding-top: 130px;
  width: 80%;
}

.mid-page p{
    font-size: 17px;
}



.membership{
    width: 80%;
    margin: auto;
    height:430px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}
.membership div{
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 30px;
    
}

.membership div button{
  background-color: white;
  width: 250px;
  height: 50px;
  font-weight: bold;
  border-radius: 30px;
  font-size: 17px;
  margin-left: 26px;

}

.bottom{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 25px;
     margin-top: 40px;
    
    }
    
    .bottom img{
      width: 26px;
    }

    .bottom > .left-phase{
        width: 90%;
        font-size: 15px;
        color: rgb(150, 146, 146);
    }
   .bottom > .left-phase > div{
    margin-top: 33px;
    margin-left: 50px;
   }

   .bottom > .right-phase{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 140px;
    padding-left:280px;
   }


@media only screen and (max-width:768px){
    /* .navbar div ul{
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: black;
        overflow: hidden;
        transition: max-height 0.5s;
        text-align: center;
        z-index: 9;
    }
    .navbar div ul li {
        display: block;
    }

    .navbar div ul li a {
        color: whitesmoke;
    }

    .navbar .nav-links span{
        color: black;
        display: block;
        cursor: pointer;
        line-height: 10vh;
        font-size: 25px;
    } */


}